.portfolio {
    margin-top: 100px;
  }
  
  .portfolio__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.11;
    margin: 0;
    color: #8b8b8b;
  }
  
  .portfolio__links {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  min-height: 230px;
  justify-content: space-between;
  width: 100%;
}

.portfolio__border {
  display: flex;
  max-width: 1280px;
  width: 100%;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

.portfolio__border:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  margin: 0;
  color: #FFF;
  text-decoration: none;
  font: inherit;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.portfolio__link:hover {
  transition: opacity .3s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}

.portfolio__link:last-of-type {
  border-bottom: none;
}

.portfolio__icon {
  width: 29px;
  height: 60px;
}
  
@media (max-width: 880px) {
  .portfolio {
    margin-top: 90px;
  }
  .portfolio__link {
    font-size: 28px;
  }
}

@media (max-width: 550px) {
  .portfolio {
    margin-top: 69px;
  }
  .portfolio__links {
    margin-top: 40px;
    min-height: 162px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__icon {
    width: 18px;
    height: 28px;
  }
}