.cards {
  width: 100%;
  padding: 70px 0 80px;
}

.cards__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, max-content);
  gap: 24px;
  row-gap: 30px;
  justify-content: center;
}

.card__btn {
  display: flex;
  justify-content: center;
}

.cards__more-btn {
  width: 100%;
  max-width: 320px;
  padding: 11px 0 9px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #424242;
  background-color: #202020;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #FFF;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.cards__more-btn:hover {
  opacity: 0.6;
}

.cards__nothing-found-text {
  color: #404040;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

@media (max-width: 1090px) {
  .cards__list {
    grid-template-columns: repeat(2, min-content);
    gap: 30px;
    row-gap: 36px;
  }
}

@media (max-width: 650px) {
  .cards__list {
    grid-template-columns: repeat(1, min-content);
    row-gap: 16px;
  }
  .cards {
    padding-top: 50px;
  }

  .cards__more-btn {
    max-width: 240px;
  }
}